{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
    {{ super() }}
    Welcome
{% endblock %}

{% block content %}

    {% if username %}
        <h1>Welcome, {{ username | capitalize }}</h1> <!-- Filter to capitalize the first letter-->
    {% endif %}

        <!-- To define a strcuture control this is the syntax -->
    {% if user_ip %}
        <h1>Hello World Platzi, your IP is {{ user_ip }}<h1>
    {% else %}
        <!-- Calls the url_for function which returns the url of the function
        that is linked -->
        <ul><li><a href = "{{ url_for('index') }}"> Go to home </a></li></ul>
    {% endif %}

    <div>
        <h2>Create a new to-do</h2>
        {{ render_form(todo_form) }}
    </div>

    <ul class="list-group">
        <!-- Iter the element that pass from the 
        dictionary in a list -->
        {% for todo in todos %}
            <!-- Pass the variable todo in a macro and list
            the elements -->
            {{ macros.render_todo(todo, delete_todo_form, update_todo_form) }}
        {% endfor %}
    </ul>
{% endblock %}