<!-- Navbar -->
<!--
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=" {{ url_for('hello') }} ">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./hell.html">Error 404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>  
    </div>
</nav>
-->
<!---
<nav>
    <ul>
         Link an image from the folder static/images to this element 
        <img src = "{{ url_for('static', filename = 'images/flask.png')}}" alt = "Flask Logo"> 
        <li><a href = "{{ url_for('index') }}"> Go to home </a></li>
        <li><a href = "https://platzi.com"> Go to Platzi </a></li>
        <li><a href = "https://flask.palletsprojects.com/en/3.0.x/"> Go to the documentation of Flask </a></li>
        <li><a href = "https://getbootstrap.com">Bootstrap</a></li>
        <li><a href = "https://bootstrap-flask.readthedocs.io/en/stable/">Bootstrap-Flask</a></li>
    </ul>
</nav>
--->

<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle"
                  data-toggle="collapse"
                  data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">
              <img src="{{ url_for('static', filename='images/flask.png') }}"
                   style="max-width: 38px"
                   alt="Flask Logo">
          </a>
      </div>

      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="{{ url_for('index') }}">Inicio</a></li>
              <li><a href="https://platzi.com" target="_blank">Platzi</a></li>
          </ul>
      </div>
  </div>
</div>