<!-- Navbar -->

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('hello') }}">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./hell.html">Error 404</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('error_500') }}">Error 500</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

<nav>
    <ul>
        <!--Link an image from the folder static/images to this element--> 
        <img src = "{{ url_for('static', filename = 'images/flask.png')}}" alt = "Flask Logo"> 
        <li><a href = "{{ url_for('index') }}"> Go to home </a></li>
        <li><a href = "https://platzi.com"> Go to Platzi </a></li>
        <li><a href = "https://flask.palletsprojects.com/en/3.0.x/"> Go to the documentation of Flask </a></li>
        <li><a href = "https://getbootstrap.com">Bootstrap</a></li>
        <li><a href = "https://bootstrap-flask.readthedocs.io/en/stable/">Bootstrap-Flask</a></li>
    </ul>
</nav>


<!--
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle"
                  data-toggle="collapse"
                  data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">
              <img src="{{ url_for('static', filename='images/flask.png') }}"
                   style="max-width: 38px"
                   alt="Flask Logo">
          </a>
      </div>

      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="{{ url_for('index') }}">Inicio</a></li>
              <li><a href="https://platzi.com" target="_blank">Platzi</a></li>
          </ul>
      </div>
  </div>
</div>
-->