<!-- Navbar -->

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('hello') }}">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./hell.html">Error 404</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('error_500') }}">Error 500</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

<nav>
    <ul>
        <!--Link an image from the folder static/images to this element--> 
        <img src = "{{ url_for('static', filename = 'images/flask.png')}}" alt = "Flask Logo"> 
        <li><a href = "{{ url_for('index') }}"> Go to home </a></li>
        <li><a href = "https://platzi.com"> Go to Platzi </a></li>
        <li><a href = "https://flask.palletsprojects.com/en/3.0.x/"> Go to the documentation of Flask </a></li>
        <li><a href = "https://getbootstrap.com">Bootstrap</a></li>
        <li><a href = "https://bootstrap-flask.readthedocs.io/en/stable/">Bootstrap-Flask</a></li>
    </ul>
</nav>